@use "sass:math";
@use "@/assets/scss/functions" as *;
@use "@/assets/scss/style" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  &__container {
    display: grid;
    background-color: transparent;
    grid-template-columns: 1fr auto 1fr;

    // min-height: toRem(152);
    min-height: toRem(102);
    align-items: center;
    padding-top: toRem(10);
    padding-bottom: toRem(10);

    @media (max-width: 767.98px) {
      grid-template-columns: auto 1fr auto auto;
    }
  }
  &__action {
    justify-self: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(47);
    row-gap: toRem(3);
  }
  &__logo {
    color: #cd481bff;

    width: 100%;
    img {
      fill: #2dcb3f !important;
      width: clamp(toRem(130), 15vw, toRem(216.58));
      color: #cd481bff;
    }
    position: relative;
    z-index: 5;
    &--active {
      img {
        background: #000;
        fill: #2dcb3f !important;
        padding: toRem(40);
        filter: brightness(0) invert(1);
        color: #cd481bff;
      }
    }
    @media (max-width: 767.98px) {
      position: fixed;
      color: #fff;
      top: toRem(40);
      left: toRem(20);
      img {
        fill: #2dcb3f !important;
        color: #cd481bff;
      }
    }
  }
}

.header__menu {
}
.menu {
  @media (max-width: 767.98px) {
    display: grid;
    grid-template-rows: 1fr auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $bgGold;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 0.3s ease;
    &--open {
      left: -100%;
      background: #bb2525;
    }
  }
  &__body {
    display: grid;
    grid-template-rows: 1fr auto;

    @media (max-width: 767.98px) {
      display: grid;
      grid-template-rows: 1fr auto;
      gap: toRem(30);
      overflow: auto;
      background: $bgGold;
      padding: toRem(150) toRem(0) toRem(15) toRem(0);
      z-index: 3;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(3);
    align-items: center;
    list-style: none;
    column-gap: toRem(35);
    padding: 0;
    margin: 0;
    // @include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);
    @media (max-width: 767.98px) {
      flex-direction: column;
      row-gap: toRem(20);
      z-index: 2;
    }
  }

  &__link {
    display: inline-block;

    font-size: clamp(16px, 2vw, 20px);
    color: inherit; // übernimmt die Textfarbe des Eltern-Elements
    text-decoration: none;
    color: $bgGold;
    font-weight: 300;
    line-height: 152%;
    @media (max-width: 767.98px) {
      color: #fff;
      //   line-height: 202%;
      font-size: toRem(28);
      font-weight: $fontFamily;
      //   flex-direction: column;
    }
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

// .header__logo {

//   width: clamp(toRem(130), 15vw, toRem(216.58));
//   &__img {
//     width: 100%;
//     background: red;
//     z-index: 100;
//     height: auto;
//     display: block;
//     &--active {
//       color: red;
//     }
//   }
// }

.action-header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: toRem(47);
  row-gap: toRem(3);
  align-items: center;
  color: $bgGold;
  column-gap: toRem(47);

  @media (max-width: 767.98px) {
    z-index: 20;
    padding: toRem(15);
    justify-content: center;
  }
  &__item {
    color: inherit; // übernimmt die Textfarbe des Eltern-Elements
    text-decoration: none;
    font-size: clamp(16px, 2vw, 20px);

    @media (max-width: 767.98px) {
      color: #fff;
      font-size: toRem(24);
      z-index: 100;
    }
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  &__button {
    border-radius: toRem(50);
  }
  &--mobile {
    display: none;
  }
  @media (max-width: 767.98px) {
    &--mobile {
      display: flex;
    }
  }
  &--desktop {
    display: flex;
    gap: toRem(35);
  }
  @media (max-width: 767.98px) {
    &--desktop {
      display: none;
    }
  }
}

.burger {
  &__icon {
    display: none;
    // position: relative;
    color: #c8d8c2;
    width: toRem(40);
    height: toRem(40);
    @media (max-width: 767.98px) {
      //   width: toRem(100);
      //   height: toRem(100);
      display: block;
      position: fixed;
      color: #d0ccb4ff;
      top: toRem(40);
      right: toRem(20);

      //   justify-self: end;

      //   position: fixed; // bleibt immer sichtbar, auch beim Scrollen
      //   top: toRem(20); // Abstand von oben
      //   right: toRem(20); // Abstand von rechts
      z-index: 30; // liegt über allen anderen Elementen
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &--active {
      width: toRem(40);
      height: toRem(40);
      color: $bgGold;
      fill: currentColor;
    }
  }
}
