@use "@/assets/scss/style" as *;
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    max-width: $containerWidth;
    padding-top: toRem(150);
    padding-bottom: toRem(50);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
  }

  &__content {
    max-width: 650px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
  }
  &__title {
    font-size: clamp(42px, 8vw, 85px);
    font-family: "Italiana";
    font-weight: 300;
    color: $bgGold;
    text-transform: capitalize;
    &::not(:last-child) {
      margin: clamp(15px, 2vw, 35px);
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    z-index: -1;
  }

  &__controll {
    position: absolute;
    bottom: 5%;
    right: 10%;
    transform: translate(-10%, -5%);
    z-index: 2;
    display: flex;
    gap: 4px;
  }
  &__arrow {
    background: transparent;
    border: none;

    :hover {
      cursor: pointer;
      scale: 1.3;

      transition: all 0.3s ease 0s;
    }

    &--left {
    }
    &--right {
    }
  }

  &__swiper-circle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $bgGold 1px solid;
    padding: 10px;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  &__swiper-wrapper {
    // width: 600px;
    // height: 600px;
    width: 550px;
    height: 550px;
    border-radius: 50%;

    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    overflow: hidden; // 🔴 CRITICAL
  }
  &__swiper-slide {
    cursor: pointer;
  }
  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__swiper-image {
    width: 600px;
    height: auto;
  }

  &__miniswiper-wrapper {
    width: 450px;
    // height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin: 1vw;
    overflow: hidden;
  }

  &__miniswiper {
    width: 100%;
    height: auto;
  }
  &__miniswiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    transform: translate(-100%);
    // &--hidden {
    //   opacity: 0; /* hide it visually */
    //   pointer-events: none; /* prevent clicking */
    //   width: 0; /* optional, collapse it */
    //   margin: 0; /* optional, remove spacing */
    // }
  }

  &__miniswiper-image {
    width: 123px;
    height: 123px;
    display: flex;
    justify-self: center;
    background: #000000;
    border-radius: 50%;
  }
}
