@use "@/assets/scss/style" as *;
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    max-width: $containerWidth;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
  }

  &__content {
    max-width: 650px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
  }
  &__title {
    font-size: clamp(42px, 8vw, 85px);
    font-family: "Italiana";
    font-weight: 300;
    color: $bgGold;
    text-transform: capitalize;
    &::not(:last-child) {
      margin: clamp(15px, 2vw, 35px);
    }
  }
  &__button {
    &:hover {
      background: transparent;
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    z-index: -1;
  }

  &__controll {
    position: absolute;
    bottom: 5%;
    right: 10%;
    transform: translate(-10%, -5%);
    z-index: 2;
    display: flex;
    gap: 4px;
  }
  &__arrow {
    background: transparent;
    border: none;

    :hover {
      cursor: pointer;
      scale: 1.3;

      transition: all 0.3s ease 0s;
    }

    &--left {
    }
    &--right {
    }
  }

  &__swiper-circle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $bgGold 1px solid;
    padding: 10px;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  &__swiper-wrapper {
    // width: 600px;
    // height: 600px;
    width: 550px;
    height: 550px;
    border-radius: 50%;

    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  &__swiper-slide {
    cursor: pointer;
  }
  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__swiper-image {
    width: 600px;
    height: auto;
  }

  &__miniswiper-wrapper {
    width: 1023px;
    height: auto;
    display: flex;
  }

  &__miniswiper {
    width: 100%;
    height: 100%;
    display: flex;

    justify-items: center;

    align-self: center;
  }
  &__miniswiper-slide {
    display: flex;
    justify-self: end;
    align-self: center;
    background: transparent;
    cursor: pointer;

    // max-width: 123px;
    max-width: 25%;
    // transform: translate(-120%);
    // &--hidden {
    //   opacity: 0; /* hide it visually */
    //   pointer-events: none; /* prevent clicking */
    //   width: 0; /* optional, collapse it */
    //   margin: 0; /* optional, remove spacing */
    // }
  }

  &__miniswiper-image {
    width: 123px;
    height: 123px;
    display: flex;
    justify-items: center;
    align-self: center;
    background: #000000;
    border-radius: 50%;
  }
}
.active {
  flex: 0 0 550px;

  img {
    max-width: 550px;
    max-height: 550px;
    height: auto;
  }
}
.carousel {
  width: 1032px;
  display: flex;
  justify-self: start;
  align-items: center;

  position: relative;
  overflow: hidden; /* 👈 Verhindert, dass Slides außerhalb der 1023px sichtbar sind */

  // background: #000;

  &__controll {
    position: absolute;
    bottom: 5%;
    right: 10%;
    transform: translate(-10%, -5%);
    z-index: 2;
    display: flex;
    gap: 4px;
  }
  &__arrow {
    background: transparent;
    border: none;

    :hover {
      cursor: pointer;
      scale: 1.3;

      transition: all 0.3s ease 0s;
    }

    &--left {
    }
    &--right {
    }
  }
}

.carousel__track {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-self: end;
  transition: transform 0.5s ease;
  gap: clamp(10px, 2.5vw, 40px);
  padding-left: 10px;
  margin: 0 auto;
}

/* 🔴 each slide */
.carousel__item {
  flex: 0 0 103px; // 🔴 fixed base size
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s ease;
  border-radius: 50%;
  padding: 2px;
  border: $bgGold 1px solid;
}

/* image */
.carousel__item img {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  transition: all 0.4s ease;
  background: #000000;
}

/* 🔴 ACTIVE */
.carousel__item.active {
  flex: 0 0 clamp(550px, 24vw, 850px);
  border-radius: 50%;
  padding: 15px;
  border: $bgGold 1px solid;
}

.carousel__item.active img {
  width: clamp(550px, 24vw, 850px);
  height: clamp(550px, 24vw, 850px);

  // padding: 100px;
}

.controls {
  position: fixed;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}
// .hero__controll {
//   position: fixed;
//   display: flex;
//   gap: 20px;
//   position: absolute;
//   top: 20%;
//   left: 10%;
//   transform: translate(-50%, -50%);
//   z-index: 50;
//   cursor: pointer;
// }

// Alles andere, was noch weit weg ist
.hidden {
  opacity: 0;
  transform: translateX(100px);
}

.scrolled-past {
  opacity: 1;
  pointer-events: none;
  /* Schiebe sie nach links aus dem Container (-550px wegen der Größe) */
  transform: translateX(-100px) scale(0.8);
  z-index: 0;
}
