// head part of the block
@use "sass:math";
@use "@/assets/scss/functions" as *;
@use "@/assets/scss/style" as *;
.block-header {
  display: grid;
  gap: toRem(20);
  justify-items: start;
  &--center {
    justify-items: center;
    max-width: clamp(toRem(320), 100%, toRem(460));
    margin-bottom: clamp(20px, 3vw, 48px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &--white {
    color: #fff;
  }
  &__label {
    text-transform: capitalize;
    font-size: toRem(16);
    // color: $goldColor;
    // font-weight: 100;
    font-family: "Montserrat";

    // text-transform: capitalize;
  }

  &__title {
    color: #9d875c;
    text-transform: capitalize;
    font-family: "Italiana";
    font-size: toRem(48);

    word-break: break-word;
  }

  &__text {
    display: grid;
    gap: toRem(20);

    // color: #222220;
    word-break: break-word;
    blockquote {
      font-style: italic;
      margin: 0;
    }
  }

  &__button {
    padding: toRem(10) toRem(40);
    border-radius: toRem(50);
    span {
      color: #222220;
      z-index: 2;
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: inherit;
      overflow: hidden;
      transition: opacity 0.3s;
      opacity: 0.5;
      background: url("@/img/button.png") center / cover no-repeat;
      inset: 0;
    }
    img {
      position: relative;
      z-index: 2;
    }
  }
}
.about-us {
  padding-top: clamp(30px, 8vw, 190px);
  padding-bottom: clamp(30px, 5vw, 90px);
  padding-left: clamp(30px, 5vw, 90px);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    background: url("@/img/tplr/bg.png") 0 0 no-repeat;
  }
  &__container {
    position: relative;
  }
  &__body {
    display: flex;
    grid-template-columns: 51.25% 1fr;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: clamp(20px, 5vw, 98px);
    }

    gap: toRem(40);
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column-reverse;
      gap: toRem(20);
    }
  }
  &__image {
    flex: 0 0 51.25%;
    border: 1px solid $bgGold;
    padding: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.services-about-us {
  display: flex;
  grid-template-columns: repeat(3, auto);
  gap: toRem(15);
  justify-content: space-between;
  max-width: toRem(1024);
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;

  @media (max-width: 767.98px) {
    justify-content: center;
    gap: toRem(30);
  }

  &__item {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: toRem(29);
  }
  &__icon {
    border-radius: 50%;
    overflow: hidden;
    width: clamp(toRem(80), 5vw, toRem(140));
    height: clamp(toRem(80), 5vw, toRem(140));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(20);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.3s;
      opacity: 0.5;
      background: url("@/img/button.png") center / cover no-repeat;
      inset: 0;
    }
    img {
      position: relative;
      z-index: 1;
      max-width: 100%;
    }
  }
  &__label {
    font-family: "Italiana";
    font-size: toRem(24);
    text-transform: capitalize;
  }
}
.products {
  padding-top: clamp(30px, 8vw, 90px);
  padding-bottom: clamp(30px, 10vw, 170px);
  position: relative;
  &__container {
    position: relative;
    display: grid;
    justify-items: center;
  }
  &__items {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
    row-gap: toRem(50); // Adds space ONLY between rows (top and bottom)
    column-gap: toRem(40);

    justify-items: center;
    align-items: center;
  }
  &__button {
    margin-top: toRem(50);
    span {
      color: #222220;
      z-index: 2;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.3s;
      opacity: 0.5;
      background: url("@/img/button.png") center / cover no-repeat;
      inset: 0;
    }
  }
}
.services {
  background-color: $bgDark;
  z-index: 2;
  padding-top: clamp(30px, 8vw, 175px);
  padding-bottom: clamp(30px, 5vw, 175px);
  position: relative;
  @media (min-width: 991.98px) {
    &::before {
      content: "";
      position: absolute;
      width: 41.55%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      background: $bgGold;
    }
  }
  &__decor {
    // z-index: 50;
    &--left {
      position: absolute;
      bottom: 0;
      left: 0;
      rotate: 0deg;
      z-index: 1;
      @media (max-width: 1700px) {
        opacity: 0.9;
      }
    }
    &--right {
      position: absolute;
      top: 0;
      right: 0;
      rotate: 180deg;
      z-index: 1;
      @media (max-width: 1700px) {
        opacity: 0.9;
      }
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    // justify-items: center;
    @media (max-width: 991.98px) {
      justify-content: center;
    }
  }
  &__body {
    display: flex;

    align-items: center;
    &:not(:last-child) {
      margin-bottom: clamp(20px, 5vw, 98px);
    }

    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column-reverse;
      gap: toRem(20);
    }
  }
  &__image {
    flex: 0 0 50%;
    padding: toRem(15);
    border: 1px solid #fff;
    img {
      width: 100%;
      height: auto;
    }
  }
  // &__button {

  // }
  &__block-header {
    flex: 0 0 50%;
    display: grid;
    justify-items: start;
    align-items: center;
    max-width: clamp(20rem, 16.14rem + 12.5vw, 28.75rem);

    // max-width: clamp(toRem(320), 100%, toRem(460));
    // margin-bottom: clamp(20px, 3vw, 48px);
    @media (min-width: 991.98px) {
      margin-left: clamp(toRem(30), 5vw, toRem(168));
    }

    @media (max-width: 767.98px) {
      justify-items: center;
      text-align: center;
    }
  }
}

.gallery {
  width: 100%;
  padding-top: clamp(30px, 8vw, 175px);
  padding-bottom: clamp(30px, 5vw, 175px);

  &__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    row-gap: clamp(toRem(20), 5vw, toRem(100));

    @media (max-width: 767.98px) {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
    }
    > .gallery-card {
      &:nth-child(4n + 1),
      &:nth-child(4n) {
        @media (min-width: 767.98) {
          width: clamp(toRem(320), 100%, toRem(592));
        }

        // padding: toRem(0), toRem(20), toRem(0), toRem(0);
      }
    }
    > .gallery-card {
      &:nth-child(4n) {
        @media (min-width: 767.98) {
          // width: 77.86%;
          justify-self: end;

          background: #3ab4c2;
        }
        //   padding: toRem(0), toRem(0), toRem(0), toRem(20);
      }
    }
  }
}
// .gallery__container > .gallery-card:nth-child(4n + 1) {
//   background: #000;
// }
